@import "../Base.scss";

.project-bar {
  display: flex;
  background-color: $bodyColor;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

.project-bar-column1 {
  display: flex;
  align-items: center;
  min-width: max-content;
}

.project-bar-column2 {
  display: flex;
  align-items: center;
  min-width: max-content;
  // padding-right: 1rem;
}

.a-color {
  color: $grey;
}

.b-color {
  color: $black;
  cursor: default;
  &:hover {
    color: $black;
  }
}

.recruit-project {
  font-weight: $bold;
  font-size: $fontMd;
  // color: $black;
  margin-left: 2rem;
  .innerHtml:hover {
    color: $mainColor;
  }
}
.proceed-project {
  font-weight: $bold;
  font-size: $fontMd;
  // color: $black;
  margin-left: 2rem;
  .innerHtml:hover {
    color: $mainColor;
  }
}

.public-project {
  font-weight: $bold;
  font-size: $fontMd;
  // color: $black;
  margin-left: 2rem;
}

.create-project {
  padding: 0.5rem 1rem;
  border-radius: $round;
  border: none;
  background-color: $mainColor;
  color: white;
  font-weight: $regular;
  margin: 0 1rem;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.filter_wrap {
  position: relative;
}
