@import "../Base.scss";

.column-right__following,
.column-right__follower,
.column-right__other-cadets {
  span {
    margin-left: 2rem;
    font-size: $fontMd;
    font-weight: $bold;
    color: $black;
  }
  div {
    background-color: white;
    box-shadow: $shadow;
    border-radius: $round;
    padding: 1rem;
    margin: 1rem 0 3rem 0;
    min-height: 7rem;
  }
}
