@import "../Base.scss";

.profileBody {
  border-radius: $round;
  box-shadow: $shadow;
  min-height: 35rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  .profileBody__row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15rem;
    // background-color: pink;
    .row1__profile-card1,
    .row1__profile-card2 {
      width: 35%;
      min-height: 80%;
      margin: 0 1rem;
      padding: 2rem;
      border-radius: $round;
      box-shadow: $shadow;
      display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   background-color: yellow;
    }
  }
}

.card1__column1 {
  display: flex;
  //   width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  //   background-color: pink;
  .column1__job,
  .column1__level,
  .column1__skill {
    color: $mainColor;
    text-align: center;
    // margin: 0.5rem;
  }
}

.card1__column2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  //   background-color: green;
  .column2__job,
  .column2__level,
  .column2__skill {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
  }
}
