@import "../Base.scss";

.profilePage-wrap {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  .column-left {
    width: 66%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }
  .column-right {
    width: 33%;
    padding: 2rem 0;
  }
}
