@import "../Base.scss";

.cadet {
  box-sizing: border-box;
  width: 60%;
  .cadet__title {
    font-weight: $bold;
    font-size: $fontMl;
    color: $black;
    padding-left: 4rem;
  }
  .cadet__list {
    margin-top: 2rem;
    padding: 0 2rem;
    .list__row1,
    .list__row2 {
      display: flex;
    }
  }
}

@media (max-width: 63rem) {
  .cadet {
    width: 100%;
  }
}
