@import "../Base.scss";
.lounge {
  position: relative;
  width: 40%;
  padding: 0 4rem;
  // padding-right: 2rem;
  .lounge__title {
    font-weight: $bold;
    font-size: $fontMl;
    color: $black;
    cursor: pointer;
  }
  .lounge__list {
    padding-top: 2rem;
    .lounge__card {
      background-color: white;
      padding: 2rem;
      box-shadow: $shadow;
      border-radius: $round;
      margin-bottom: 2rem;
      position: relative;
      &:hover {
        transform: scale(1.05);
        z-index: 1;
        transition: transform 0.2s;
      }
      .card__row1 {
        display: flex;
        align-items: center;
        .row1__image {
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
          // margin-bottom: 0.5rem;
          margin-right: 1rem;
        }
        .row1__right {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          .row1__name {
            position: relative;
            font-weight: $normal;
          }
          .row1__time {
            font-size: $fontSs;
            color: $grey;
          }
        }
      }
      .card__row2 {
        padding-left: 3.5rem;
        margin-bottom: 1rem;
        line-height: 120%;
      }
      .card__row3 {
        position: absolute;
        font-size: $fontSs;
        right: 1rem;
        bottom: 1rem;
        .row3-icon {
          font-size: $fontSm;
          position: relative;
          bottom: 0.1rem;
          right: 0.1rem;
        }
        .like-num {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
@media (max-width: 63rem) {
  .lounge {
    margin-top: 4rem;
    width: 100%;
  }
  .lounge__list {
    position: relative;
    left: -1.1rem;
    width: 104%;
  }
}
