@import "../Base.scss";

.popover {
  border: none;
  box-shadow: $shadow;
}

.popover-body {
  &:hover {
    color: $mainColor;
    cursor: pointer;
  }
  padding-bottom: 0rem;
  font-weight: 600;
  color: $darkGrey;
}

.popover__wrap {
  position: relative;
  padding-bottom: 1rem;
}
