@import "../../Base.scss";

.chatCard-other {
  margin: 0.1rem 0;
  display: flex;
  align-items: center;
  position: relative;
  .chatCard__column1 {
    .chatCard__column1-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .empty {
        width: 4rem;
      }
      img {
        position: relative;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        right: -0.2rem;
        margin: 0 1rem;
      }
      .column1-small__name {
        font-weight: $semiBold;
      }
    }
  }

  .chatCard__column2 {
    right: 4rem;
    .chat-message-small {
      padding: 1rem;
      box-shadow: $shadow;
      border-radius: $round;
    }
  }
}
.chatCard-me {
  margin: 0.1rem 0;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row-reverse;
  .chatCard__column1 {
    .chatCard__column1-small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .empty {
        width: 4rem;
      }
      img {
        position: relative;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        right: -0.2rem;
        margin: 0 1rem;
      }
      .column1-small__name {
        font-weight: $bold;
      }
    }
  }
  .chatCard__column2 {
    right: 4rem;
    .chat-message-small {
      padding: 1rem;
      box-shadow: $shadow;
      border-radius: $round;
    }
  }
}

.chatCard-noti {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  background-color: $lightestGrey;
  .chat-noti {
    margin: 0 auto;
    padding: 0.5rem;
    font-weight: $bold;
  }
}
