@import "../Base.scss";

.cadetCardsList {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  // margin-bottom: 1.5rem;
}

@media (max-width: 700px) {
  .cadetCardsList {
    display: flex;
    flex-wrap: wrap;
  }
}
