@import "../Base.scss";

.recruitCadet-wrap {
  margin: 0 auto;
  max-width: 1440px;
  .recruitCadet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    align-content: start;
  }
  .noCadet {
    display: flex;
    justify-content: center;
    padding: 6rem;
    font-weight: $normal;
    opacity: 0.5;
    border-radius: $round;
    background-color: $lightestGrey;
    margin: 2rem;
  }
}
