@import "../Base.scss";

.project_info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin: 0.5rem 0;
  box-shadow: $shadow;
  border-radius: $round;
  background: white;

  hr {
    height: 1px;
    color: $lightGrey;
  }

  .info_icon {
    display: flex;
    flex-direction: row;
    justify-content: right;
    // align-items: right;
    margin-bottom: 1.3rem;
    color: $grey;
    svg {
      cursor: pointer;
      transition: width 300ms ease;
      // transform: translate(-50%, -50%);
    }
    svg:hover {
      transform: scale(1.1);
    }
  }

  .info_date {
    font-weight: $semiBold;
    margin-bottom: 0.5rem;
    min-width: max-content;
  }

  .info_skill {
    font-weight: $semiBold;
    margin-bottom: 0.5rem;
    min-width: max-content;
  }
  .skill {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    img {
      margin: 5px 5px 0px 0px;
    }
    padding-bottom: 5rem;
  }
  .info_bottom {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    font-size: $fontSs;
  }

  .info_not-defined {
    font-size: $fontSs;
    color: $grey;
  }
}
