@import "../Base.scss";

.project_content {
  min-height: 30rem;
  margin: 1.5rem 1rem 1rem 0rem;
  .project_content_row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    .project_address {
      margin-left: 0.5rem;
      font-size: $fontMs;
      text-align: center;
    }
  }
  .md_viewer {
    // margin-left: 2rem;

    margin: 2rem 2rem 1rem 2rem;
  }
}
